@use '@/styles/abstracts/' as *;

:root {
  font-family: $font-family;

  @include under-md {
    font-size: 15px;
  }

  @include md {
    font-size: 16px;
  }

  @include lg {
    font-size: 17px;
  }

  @include over-xl {
    font-size: 18px;
  }
}
